<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head th:include="fragment/common :: headerFragment" />
<body>
	<div class="container">
		<div th:replace="fragment/common :: top-nav(addUserForm)"></div>
		<div th:replace="fragment/manager :: manager-header"></div>
		<div>
			<h3>Add User Form</h3>
		</div>
		<div th:replace="fragment/common :: message"></div>
		<div class="table-responsive">
			<form id="addUser-form" action="#" th:action="@{/manager/addUserForm}"
				th:object="${form}" method="post" class="form-horizontal">
				<div class="form-group">
					<label class="col-sm-2 control-label">Name</label>
					<div class="col-sm-10">
						<input type="text" th:field="*{username}" th:errorclass="fieldError"
							class="form-control" placeholder="User name" /> <label
							th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></label>
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-2 control-label">Email</label>
					<div class="col-sm-10">
						<input type="email" th:field="*{email}" th:errorclass="fieldError"
							class="form-control" placeholder="Email address" /> <label
							th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></label>
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-2 control-label" for="role">Account Type</label>
					<div class="col-sm-10">
						<select th:field="*{role.name}" class="form-control">
							<option th:value="ROLE_CUSTOMER">Customer</option>
							<option th:value="ROLE_MERCHANT">Merchant</option>
						</select>
					</div>
				</div>
				<div class="form-group">
					<div class="col-sm-offset-2 col-sm-10">
						<button type="submit" class="btn btn-primary">Sign Up</button>
					</div>
				</div>
			</form>
		</div>
	</div>
</body>
</html>