<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head th:include="fragment/common :: headerFragment" />
<body>
	<div class="container">
		<div th:replace="fragment/common :: top-nav(myaccount)"></div>	
		<div th:replace="fragment/manager :: manager-header"></div>
		<div >
			<h3>Critical Transactions</h3>
		</div>
		<div class="table-responsive">
			<table class="table table-bordered table-hover">
				<thead>
					<tr>
						<th>Created Date</th>
						
						<th>From</th>
						<th>To</th>
						<th>Amount</th>
						
						<th>Status</th>
						<th>Comment</th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="row : ${critical}">
						<form  th:action="@{/approvetransaction}" th:object="${row}" method="post">
						<td><span th:text="*{#dates.format(transferDate,'MM/dd/yyyy')}"></span></td>
						<td><span th:text="*{fromAccount.user.username}"></span></td>
						<td><span th:text="*{toAccount.user.username}"></span></td>
						<td><span th:text="*{amount}"></span></td>
						<td><span th:text="*{status}"></span></td>						
						<td><span th:text="*{comment}"></span></td>
						
                        <td>
                        <input type="hidden" name="transactionId" th:value="*{transactionId}" />
                        <input type = "submit" /></td>
                        </form>
					</tr>
				</tbody>
			</table>
		</div>
		
	
	</div>
</body>
</html>