<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head th:include="fragment/common :: headerFragment" />
<body>
	<div class="container">
		<div th:replace="fragment/common :: top-nav(signup)"></div>
		<form action="#" th:action="@{/signup}" method="post">
			<div th:text="${message}"></div>
			<div class="form-group">
				<label>Username</label> <input type="text"
					th:field="${user.username}" class="form-control"
					placeholder="User name" /> <label
					th:if="${#fields.hasErrors('user.username')}"
					th:errors="${user.username}"></label>
			</div>
			<div class="form-group">
				<label>Email</label> <input type="email" th:field="${user.email}"
					th:errorclass="fieldError" class="form-control"
					placeholder="Email address" /> <label
					th:if="${#fields.hasErrors('user.email')}"
					th:errors="${user.email}"></label>
			</div>
			<div class="form-group">
				<label>Password</label> <input type="password"
					th:field="${user.password}" class="form-control"
					placeholder="Password" /> <label
					th:if="${#fields.hasErrors('user.password')}"
					th:errors="${user.password}"></label>
			</div>
			<div class="form-group">
				<label>Address</label> <input type="text" th:field="${user.address}"
					class="form-control" placeholder="Address" />
			</div>
			<div class="form-group">
				<label>Phone Number</label> <input type="text"
					th:field="${user.phoneNumber}" class="form-control"
					placeholder="Phone Number" />
			</div>
			<div class="form-group">
				<label>Date of Birth</label> <input type="text"
					th:field="${user.dateOfBirth}" class="form-control"
					placeholder="Date of Birth (mm/dd/yyyy)" />
			</div>
			<div class="form-group">
				<label>Gender</label>
				<div class="radio">
					<label> <input type="radio" th:field="${user.gender}"
						th:value="Male" /> Male
					</label>
				</div>
				<div class="radio">
					<label> <input type="radio" th:field="${user.gender}"
						th:value="Female" /> Female
					</label>
				</div>
			</div>
			<div class="form-group">
				<label for="role">Account Type</label> <select
					th:field="${role.name}" class="form-control">
					<option th:value="ROLE_CUSTOMER">Customer</option>
					<option th:value="ROLE_MERCHANT">Merchant</option>
				</select>
			</div>
			<div class="form-group">
				<label>Security question</label> <input type="text"
					th:field="${user.securityQuestion}" class="form-control"
					placeholder="This will be used in recovering your password" />
			</div>
			<div class="form-group">
				<label>Security question answer</label> <input type="text"
					th:field="${user.securityAnswer}" class="form-control"
					placeholder="Answer to your security question" />
			</div>
			<button type="submit" class="btn btn-primary">Sign Up</button>
		</form>
	</div>
</body>
</html>