<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org">
<body>
	<div th:fragment="manager-header" >
		<nav class="navbar navbar-default">
			<div class="container-fluid">
				<!-- Collect the nav links, forms, and other content for toggling -->
				<div class="collapse navbar-collapse"
					id="bs-example-navbar-collapse-1">
					<ul class="nav navbar-nav">
						<li><a th:href="@{/criticaltransaction}">Critical Transaction</a></li>
						<li ><a th:href="@{/pendingtransaction}">Pending Transaction</a></li>
						<li><a th:href="@{/getUserById}">Get User By ID</a></li>
						<li><a th:href="@{/getUserByEmail}">Get User By Email</a></li>
						<li><a th:href="@{/addUserForm}">Add User</a></li>
					</ul>
				</div>
				<!-- /.navbar-collapse -->
			</div>
			<!-- /.container-fluid -->
		</nav>
	</div>
</body>
</html>