<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head th:include="fragment/common :: headerFragment" />
<body>
	<div>
		<p th:text="${result1}">MyASU BANK</p>
	</div>
	<div class="table-responsive">
		<table class="table table-bordered table-hover">
			<thead>
				<tr>

					<th>Transfer Date</th>


				</tr>
			</thead>

			<tbody>
				<tr th:each="row : ${modify_transaction}">
					<td><span th:text="${row.transferDate}"></span></td>



					<td>
						<form action="#" th:action="@{/modifyDate_transactions}"
							th:object="${row}" method="post">

							<input type="text" name="transferDate" /> <input type="hidden"
								name="transactionId" th:value="*{transactionId}" />
							<button type="Submit" name="action" value="Updatedate">
								Update</button>
						</form>
					</td>

				</tr>
			</tbody>
		</table>

	</div>

</body>
</html>