<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org">
<head th:include="fragment/common :: headerFragment" />
<body>
 <div>
    <p th:text="${result1}">MyASU BANK </p>
    </div>
    <div class="table-responsive">
			<table class="table table-bordered table-hover">
				<thead>
					<tr>
						<th>Request ID</th>						
						<th>Address</th>
						<th>D.O.B</th>
						<th>Phone</th>
						<th>Status</th>
						<th>Role ID</th>
						
						<th></th>
					</tr>
				</thead>
			
				<tbody>
					<tr th:each="row : ${profilerequest}">
						<form  action="#" th:action="@{/authorize_userprofile}" th:object="${row}" method="post">
						<td><span th:text="${row.rId}"></span></td>						
						<td><span th:text="${row.address}"></span></td>
						<td><span th:text="${row.dateOfBirth}"></span></td>
						<td><span th:text="${row.phoneNumber}"></span></td>
						<td><span th:text="${row.status}"></span></td>
						<td><span th:text="${row.roleId}"></span></td>
						
                        <td>
                        <input type="hidden" name="rId" th:value="*{rId}" />
                        <button type = "Submit" name="action" value="Authorize"> Authorize </button>
                         </td>
                       	
                       	  <td>
                        <input type="hidden" name="rId" th:value="*{rId}" />
                        <button type = "Submit" name="action" value="Decline"> Decline </button>
                         </td>
                       
                       
                        </form>
					</tr>
				</tbody>
			</table>
			
		</div>
 
</body>
</html>
        