<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head th:include="fragment/common :: headerFragment" />
<body>
	<div class="container">
		<div th:replace="fragment/common :: top-nav(employee)"></div>
		<div th:include="fragment/employee :: employee-header"></div>
		<h1>Employee Dashboard</h1>
		<div th:replace="fragment/common :: message"></div>
		<div th:replace="fragment/common :: footer"></div>
	</div>
</body>
</html>