<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org">
<head th:include="fragment/common :: headerFragment" />
<body>
 <div>
    <p th:text="${result1}">MyASU BANK </p>
    </div>
    <div class="table-responsive">
			<table class="table table-bordered table-hover">
				<thead>
					<tr>
						<th>Created Date</th>						
						<th>From</th>
						<th>To</th>
						<th>Amount</th>
						<th>Balance</th>
						<th>Status</th>
						<th>Comment</th>
						<th></th>
					</tr>
				</thead>
			
				<tbody>
					<tr th:each="row : ${transactions}">
						<form  action="#" th:action="@{/employee_transactions}" th:object="${row}" method="post">
						<td><span th:text="*{created}"></span></td>
						
						<td><span th:text="*{fromAccount.user.username}"></span></td>
						<td><span th:text="*{toAccount.user.username}"></span></td>
						<td><span th:text="*{amount}"></span></td>
						<td><span th:text="*{fromAccount['balance']}"></span></td>
						<td><span th:text="*{status}"></span></td>						
						<td><span th:text="*{comment}"></span></td>
						
                        <td>
                        <input type="hidden" name="transactionId" th:value="*{transactionId}" />
                        <button type = "Submit" name="action" value="Authorize"> Authorize </button>
                        <button type = "Submit" name="action" value="Decline"> Decline </button>
                        <button type = "Submit" name="action" value="Modify"> Modify </button>
                        
                        </td>
                       
                       
                        </form>
					</tr>
				</tbody>
			</table>
			
		</div>
 
</body>
</html>