<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head th:include="fragment/common :: headerFragment" />
<div class="container">
		
		
			<table class="table table-bordered table-hover">
				<thead>
					<tr>
						<th>UserID</th>
						<th>Username</th>
						<th>Email</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="row : ${greet}" >
						<td><span th:text="${row.id}"></span></td>
						<td><span th:text="${row.email}"></span></td>
						<td><span th:text="${row.username}"></span></td>
					</tr>
				</tbody>
			</table>
		</div>
		

</html>