<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
    <head>
        <title th:inline="text">Welcome [[${#httpServletRequest.remoteUser}]]!</title>
        <link rel="stylesheet" type="text/css" media="all" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"/>
    	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    	<style>
    		body{
    			padding:10px;
    		}
    	</style>
    </head>
    <body>
        <nav class="navbar navbar-default">
		  <div class="container-fluid">		    
		
		    <!-- Collect the nav links, forms, and other content for toggling -->
		    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
		      <ul class="nav navbar-nav">
		        <li><a href="#">Accounts</a></li>
		        <li class="active"><a href="#">Transfer Funds</a></li>
		        <li><a href="#">Profile</a></li>
		        <li><a href="#">Initiate Transaction</a></li>
		      </ul>
		    </div><!-- /.navbar-collapse -->
		  </div><!-- /.container-fluid -->
		</nav>
		<div class="table-responsive">
			<table class="table table-bordered table-hover">
				<thead>
			      <tr>
			      	<th>Account Number</th>
			        <th>Balance</th>
			        <th>Created Date</th>
			      </tr>
			    </thead>
			    <tbody>
			      <tr th:each="row : ${accounts}">
			        <td><span th:text ="${row.getAccId()}"></span></td>
			        <td><span th:text ="${row.getBalance()}"></span></td>
			        <td><span th:text ="${row.getCreated()}"></span></td>
			      </tr>
			    </tbody>
			</table>
		</div>
    </body>
</html>