<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head th:include="fragment/common :: headerFragment" />
<body>
<h1>Employee Details</h1>

<thead>
		<tr>
			<th>username</th>
			<th>Address</th>

		</tr>
	</thead>

	<tr th:each="users : ${info}">

		<td><span th:text="${users.username}"></span></td>
		<td><span th:text="${users.address}"></span></td>
		<td><form action="#" th:object="${users}" th:action="@{/change_username}"
				method="POST">

				<input type="text" name="username" />
				<input type="hidden" name="id" th:value="*{id}" />
				<button type="submit">Change Username</button>
			</form></td>
		<td><form action="#" th:object="${users}" th:action="@{/change_Address}" method="POST">
				<input type="text" name="useraddress" />
				<input type="hidden" name="id" th:value="*{id}" />
				<button type="submit">Change Address</button>
				
			</form></td>
			<td>
			<form action="#" th:object="${users}" th:action="@{/DeleteUserEmployee}" method="POST">
			<input type="hidden" name="id" th:value="*{id}" />
			<button type="submit">Delete user</button>
			</form>
		</td>


	</tr>
</body>
</html>