<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head th:include="fragment/common :: headerFragment" />
<body>
<h1>System Admin Details</h1>
<div>
<form  th:action="@{/verifytransaction}" th:object="${transaction}" method="post">
<a th:href="@{/sys}">update user details</a>
</form>
</div>
<div>
<a th:href="@{/Sy}">Delete user</a>
</div>
<div>
<h2>Transactions to verify</h2>

</div>



<div>


<thead>
			<tr>
						<th>Transaction id</th>
						<th>status message</th>
						<th>from Account username </th>
						<th>From Account balance</th>
						<th>amount</th>
						<th>verify</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="transaction : ${Verify}">
						<form  th:action="@{/verifytransaction}" th:object="${transaction}" method="post">
						<td><span th:text="${transaction.transactionId}"></span></td>
						<td><span th:text="${transaction.status}"></span></td>
						<td><span th:text="${transaction.fromAccount.user.username}"></span></td>
						<td><span th:text="${transaction.fromAccount.balance}"></span></td>
						<td><span th:text="${transaction.amount}"></span></td>
						<td>
                       <input type="hidden" name="transactionId" th:value="*{transactionId}" />
                       <input type = "submit" /></td>
                       </form>
					</tr>
				</tbody>


</div>

<div th:text="${Verify}"></div>
</body>
</html>