<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head th:include="fragment/common :: headerFragment" />
<body>
	<div class="container">
		<!-- <div th:replace="fragment/customerStandard :: customer-header"></div>-->
		<div th:fragment="customer-header">
			<nav class="navbar navbar-default">
				<div class="container-fluid">
					<!-- Collect the nav links, forms, and other content for toggling -->
					<div class="collapse navbar-collapse"
						id="bs-example-navbar-collapse-1">
						<ul class="nav navbar-nav">
							<li><a href="#">Accounts</a></li>
							<li><a href="#">Transactions</a></li>
							<li class="active"><a href="#">MyProfile</a></li>
							<li><a href="#">Transfer Funds</a></li>
							<li><a href="#">Initiate Transaction</a></li>
						</ul>
					</div>
					<!-- /.navbar-collapse -->
				</div>
				<!-- /.container-fluid -->
			</nav>
		</div>
		<div class="jumbotron">
			<h1>Welcome User</h1>
		</div>
		<div th:replace="fragment/customerStandard :: [//footer]"></div>
	</div>
</body>
</html>