<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head th:include="fragment/common :: headerFragment" />
<body>
	<div class="container">
		<!-- <div th:replace="fragment/common :: top-nav"></div> 
    <div th:replace="fragment/customer_common :: customer-header"></div>-->
		<div th:fragment="customer-header">
			<nav class="navbar navbar-default">
				<div class="container-fluid">
					<!-- Collect the nav links, forms, and other content for toggling -->
					<div class="collapse navbar-collapse"
						id="bs-example-navbar-collapse-1">
						<ul class="nav navbar-nav">
							<li><a href="#">Accounts</a></li>
							<li class="active"><a href="#">Transactions</a></li>
							<li><a href="#">MyProfile</a></li>
							<li><a href="#">Transfer Funds</a></li>
							<li><a href="#">Initiate Transaction</a></li>
						</ul>
					</div>
					<!-- /.navbar-collapse -->
				</div>
				<!-- /.container-fluid -->
			</nav>
		</div>
		<div class="table-responsive">
			<table class="table table-bordered table-hover">
				<thead>
					<tr>
						<th>Date</th>
						<th>Type</th>
						<th>From</th>
						<th>To</th>
						<th>Amount</th>
						<th>Balance</th>
						<th>Comment</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="transaction : ${transactions}">
						<td><span th:text="${transaction.created}"></span></td>
						<td><span th:text="${transaction.type}"></span></td>
						<td><span th:text="${transaction.fromAccount}"></span></td>
						<td><span th:text="${transaction.toAccount}"></span></td>
						<td><span th:text="${transaction.amount}"></span></td>
						<td><span th:text="${transaction.balance}"></span></td>
						<td><span th:text="${transaction.comment}"></span></td>

					</tr>
				</tbody>
			</table>
		</div>
	</div>
</body>
</html>