
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head th:include="fragment/common :: headerFragment" />
<body>
	<div class="container">
		<div th:replace="fragment/common :: top-nav(myaccount)"></div>	
		<div th:replace="fragment/merchant :: merchant-header"></div>
		<div >
			<h3>Account</h3>
		</div>
		<div th:replace="fragment/common :: message"></div>
		<div class="table-responsive">
			<table class="table table-bordered table-hover">
				<thead>
					<tr class="info">
						<th>Account Number</th>
						<th>Balance</th>
						<th>Created Date</th>
						<th>Critical Limit</th>
					</tr>
				</thead>
				<tbody>
					<tr style="cursor: pointer" th:each="account : ${accounts}">
						<td><span th:text="${account.accId}"></span></td>
						<td><span th:text="${account.balance}"></span></td>
						<td><span th:text="${account.created}"></span></td>
						<td>
						  <div class="critical-limit">
							  <span th:text="${account.criticalLimit}"></span>
							  <a class="change-limit btn btn-xs btn-primary" href="#">
							      <i class="fa fa-pencil"></i>
							      Change critical limit
							  </a>
						  </div>
						  <form class="hidden-form form-inline" th:action="@{/changelimit}" method="post">
						      <div class="form-group">
						          <input class="form-control" type="number" name="limit" id="limit" th:value="${account.criticalLimit}"/>
						      </div>
						      <button class="btn btn-xs btn-primary">
						          <i class="fa fa-check"></i>
						          Save
						      </button>
						  </form>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
		<div >
			<h3>Transactions</h3>
		</div>
		<div class="table-responsive">
			<table class="table table-bordered table-hover">
				<thead>
					<tr class="info">
						<th>Date</th>
						<th>From</th>
						<th>To</th>
						<th>Amount</th>
						<th>Comment</th>
						<th>status</th>
					</tr>
				</thead>
				<tbody>
				    <tr th:if="${transactions.size()} == 0">
				        <td colspan="5">No transactions to show</td>
			        </tr>
					<tr th:each="transaction : ${transactions}">
						<td><span th:text="${transaction.transferDate}"></span></td>
						<td><span th:text="${transaction.fromAccount.user.username}"></span></td>
						<td><span th:text="${transaction.toAccount.user.username}"></span></td>
						<td><span th:text="${transaction.amount}"></span></td>
						<td><span th:text="${transaction.comment}"></span></td>
						<td th:if="${transaction.status.equalsIgnoreCase('V') || transaction.status.equalsIgnoreCase('OV')}">
							<span th:text="Completed"></span>
						</td>
						<td th:if="${transaction.status.equalsIgnoreCase('P') || transaction.status.equalsIgnoreCase('OP') || transaction.status.equalsIgnoreCase('PCV') || transaction.status.equalsIgnoreCase('CV')}">
							<span th:text="Pending"></span>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
		<div th:replace="fragment/common :: footer"></div>
		<script type="text/javascript" th:src="@{/js/myaccount.js}"></script>
	</div>
</body>

</html>