<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head th:include="fragment/common :: headerFragment" />
<body>
	<div class="container">
		<div th:replace="fragment/common :: top-nav"></div>	
		<div th:replace="fragment/merchant_common :: merchant-header"></div>
		<div class="table-responsive">
			<table class="table table-bordered table-hover">
				<thead>
					<tr>
						<th>Date</th>
						<th>Type</th>
						<th>From</th>
						<th>To</th>
						<th>Amount</th>
						<th>Balance</th>
						<th>Comment</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="row : transactions">
						<td><span th:text="${row.getCreated()}"></span></td>
						<td><span th:text="${row.getType()}"></span></td>
						<td><span th:text="${row.getFromAccount()}"></span></td>
						<td><span th:text="${row.getToAccount()}"></span></td>
						<td><span th:text="${row.getAmount()}"></span></td>
						<td><span th:text="${row.getBalance()}"></span></td>
						<td><span th:text="${row.getComment()}"></span></td>
						
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</body>
</html>